/*   Styles go here */

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: Black;
    clear: left;
    text-align: center;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 3em;
    overflow: hidden;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

